<h2>Lista prezentów</h2>

<ul>
    {{#each giftList}}
        <li>
            {{this.name}} ({{this.count}} szt.)
        </li>
    {{/each}}
</ul>

<h2>Dodaj prezent do listy</h2>
<form action="/gift" method="POST">
    <label for="name">Nazwa</label>
    <input type="text" id="name" name="name">
    <label for="count">Ilość [szt.]</label>
    <input type="number" id="count" name="count">
    <button type="submit">Dodaj</button>
</form>
