<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Świętego Mikołaja</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1>Lista Świętego Mikołaja</h1>
    <hr/>
    <ul>
        <li>
            <a href="/child">Dzieci</a>
        </li>
        <li>
            <a href="/gift">Prezenty</a>
        </li>
    </ul>
    {{{body}}}
</body>
</html>