header {
    background: #6200EE;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 20px;
        font-weight: 20;

        span {
            font-weight: 700;
        }
    }
}

.search {
    display: flex;
    gap: 5px;

    input {
        width: 208px
    }
}